
<div>
  <h3>To Do List</h3>
  <ul>
    <li *ngFor="let item of toDoItems">{{ item.description }}</li>
  </ul>
</div>
<div>
  <form class="to-do-list-form">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Add</mat-label>
        <input matInput #newItem placeholder="Add a to do item"/>
      </mat-form-field>
    </mat-dialog-content>
    <div>
      <mat-dialog-actions>
        <button mat-button (click)="addToDoItem(newItem.value)">Add</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
