<div class="flex-center h-full">
  <app-header></app-header>
  <app-to-do-list
  [_toDoItems]="toDoItems"
  (deleted)="deleteFromApp($event)"
  ></app-to-do-list>
  <form
    id="to-do-list-form"
    [formGroup]="toDoItemsForm"
    (ngSubmit)="addToDoItem()"
  >
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Add</mat-label>
        <input formControlName="item" matInput placeholder="Add a to do item" />
      </mat-form-field>
    </mat-dialog-content>
    <div>
      <mat-dialog-actions class="flex-center">
        <button mat-button type="submit">Add</button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
